@mixin transition($time, $component: all, $effect: ease) {
  -webkit-transition: $component $time $effect;
  -moz-transition: $component $time $effect;
  -ms-transition: $component $time $effect;
  -o-transition: $component $time $effect;
  transition: $component $time $effect;
}

@mixin spin-component($time) {
  animation-name: spin;
  animation-duration: $time;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

.vfade-enter-active,
.vfade-leave-active {
  transition: opacity 0.25s ease;
}

.vfade-enter-from,
.vfade-leave-to {
  opacity: 0;
}

.vPopupSlideTop-enter-active,
.vPopupSlideTop-leave-active {
  transition: all 0.25s ease;
}

.vPopupSlideTop-enter-from,
.vPopupSlideTop-leave-to {
  transform: translateY(-100%);
}
