// Color Variables
$bg-gradient-start: #0d0a27;
$bg-gradient-end: #1c1654;
$font-main: white;
$font-secondary: #a5a5a5;
$font-tertiary: #43c6ac;
$button-gradient-start: #1c1654;
$button-gradient-end: #43c6ac;
$input-field-type-1: rgba(1, 1, 1, 0.25);
