// Color Variables
$bg-gradient-start: #0d0a27;
$bg-gradient-end: #1c1654;
$font-main: white;
$font-secondary: #a5a5a5;
$font-tertiary: #43c6ac;
$font-error: #d22e2e;
$font-description: #d4d4d46f;
$btn-gradient-active-start: #1c1654;
$btn-gradient-active-end: #43c6ac;
$btn-gradient-disable-start: #565656;
$btn-gradient-disable-end: #cdcdcd;
$input-field-type-1: rgba(1, 1, 1, 0.25);
$profile-icon-bg: rgba(1, 1, 1, 0.3);
$highlight-error: #d22e2e;
