// Color Variables
$color-bg-gradient-start: #0d0a27;
$color-bg-gradient-end: #1c1654;
$color-font-main: white;
$color-font-secondary: #a5a5a5;
$color-font-tertiary: #43c6ac;
$color-button-gradient-start: #1c1654;
$color-button-gradient-end: #43c6ac;
